@font-face {
    font-family: 'BLU Esoteric';
    src: url('BLUEsotericplain.eot');
    src: url('BLUEsotericplain.eot?#iefix') format('embedded-opentype'),
        url('BLUEsotericplain.woff2') format('woff2'),
        url('BLUEsotericplain.woff') format('woff'),
        url('BLUEsotericplain.ttf') format('truetype'),
        url('BLUEsotericplain.svg#BLUEsotericplain') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
body{
    background-color: black;
    font-family: 'BLU Esoteric';
 
                                                
    
}
h1{
    color: lightblue;
}

h2{
    color: lightblue;
    font-size: 50px;
}
#todo{
display: flex;
flex-direction: column;
align-items: center;
}

#boton{
    border-radius: 10px; height: 70px; width: 250px; background-color: darkolivegreen;
    font-size:xx-large;
    font-family: 'BLU Esoteric', sans-serif;
    color: lightblue;
}



#imagenes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#bruja{
    border-radius: 10px;
}